.content {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    --primary-color: #612afa;
    --secondary-color: #2a9cfa;
    background: hsla(0, 0%, 100%, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0.6em;
    width: 60%;
    height: 70%;
    padding: 2em;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

.titleForm {
    font-family: inherit;
    font-weight: 500;
    margin-bottom: 0.5em;
    color: var(--primary-color);
}

.divHorizontal {
    display: flex;
}

.formGroup {
    font-family: "Montserrat", sans-serif;
    margin: 0.5em 0.5em;
    width: 50%;
}

/* label input */
.formGroup label {
    font-family: inherit;
    font-size: 12pt;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/* input */
.formGroup input {
    font-size: 12pt;
    font-family: inherit;
    color: var(--primary-color);
    border: none;
    border-bottom: 2px solid var(--primary-color);
    background: transparent;
    transition: all 500ms;
    padding: 0.4em 0;
    margin: 0;
    margin-bottom: 0.7em;
}

.formGroup input:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.formGroup input:hover::placeholder {
    color: var(--secondary-color);
}

.formGroup input:focus {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.formGroup input:focus::placeholder {
    color: var(--secondary-color);
}

.formGroup input::placeholder {
    color: var(--primary-color);
    font-weight: 400;
}

.formButton {
    font-family: "Montserrat", sans-serif !important;
    background: var(--primary-color);
    padding: 0.4em 0.6em;
    border-radius: 0.3em;
    font-family: inherit;
    line-height: 1.5;
    font-weight: 400;
    font-size: 11pt;
    transition: all 300ms;
    border: none;
}

.formButton:hover {
    background: var(--secondary-color);
    color: white;
    border: none;
}

.formButton:active {
    padding: 0.45em 0.6em;
}

.confirmar {
    position: absolute;
    bottom: 2em;
    right: 2.6em;
    padding: 0.5em 0.8em;
}

/* Contenedores de las bases y las traducciones */
.baseTraduccionContainer {
    height: 35%;
}

.divTraduccionesContainer {
    height: 100%;
    width: 50%;
}

/* Vista de las traducciones */
.divTraducciones {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: space-between;
}

.divTraduccion {
    width: 49%;
    position: relative;
}

.divTraduccion button {
    background: transparent;
    padding: 0;
    margin: 0;
    color: var(--primary-color);
    position: absolute;
    right: 0.2em;
    top: 0.1em;
    transition: all 300ms;
    border: none;
}

.divTraduccion button:hover {
    color: var(--secondary-color);
    border: none;
    padding: 0;
    margin: 0;
}

.divTraduccion div {
    width: 100%;
}

.addTraduccion {
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

/* DropDown */
.dropDownMenu {
    font-family: "Montserrat", sans-serif;
    width: 33%;
    height: 100%;
    margin-left: 0.5em;
}

.dropDownHeader {
    font-family: inherit;
    height: 4em;
}

.dropDownOptions {
    font-family: inherit;
    overflow: scroll;
    height: calc(100% - 4em);
}

.dropDownTitle {
    font-family: inherit;
    font-weight: 400;
    font-size: 14pt;
    line-height: 1.5;
    color: var(--primary-color);
    text-transform: capitalize;
}

.dropDownButton {
    font-family: inherit;
    background: var(--primary-color);
    color: #fff;
    border: none;
    padding: 0.5em 0.9em;
    margin: 0;
    transition: all 300ms;
    border-radius: 0em;
    font-weight: 500;
    width: 100%;
}

.dropDownButton:hover {
    background: #5e27f515;
    color: var(--primary-color);
}

.dropDownButton:active {
    padding: 0.4em 0.8em;
}

.dropDownButton span {
    color: inherit;
    margin-left: 0.4em;
}

.dropDownItemContainer {
    margin-top: 0.2em;
    font-family: inherit;
    cursor: pointer;
    transition: all 500ms;
    color: var(--primary-color);
    background: rgba(255, 255, 255, 0.575);
    padding: 0.4em 0.8em;
    border-radius: 0.15em;
}

.dropDownItemContainer:hover {
    background: var(--primary-color);
    color: #fff;
    padding: 0.5em 0.9em;
}

.dropDownItemText {
    color: inherit;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
}

/* Mas informacion */
.segundaParte {
    position: absolute;
    bottom: 2em;
    left: 2.6em;
    padding: 0.5em 0.8em;
    color: #fff;
    display: flex;
}

.segundaParte:active {
    padding: 1em 0.7em;
}

.segundaParte .text {
    color: inherit;
    font-family: inherit;
}

.segundaParte .icon {
    color: inherit;
    margin-left: 0.4em;
}

.segundaParte .iconBack {
    color: inherit;
    margin-right: 0.4em;
}

/* Segunda parte del formulario */
.segundaParteForm {
    height: 90%;
    width: 100%;
    display: flex;
}

.segundaParteForm .left {
    width: 50%;
    height: 100%;
}

.segundaParteForm .right {
    width: 50%;
    height: 100%;
}

.segundaParteForm .left .section1 {
    width: 100%;
    margin: 0.4em 0em;
    height: calc(100% / 2);
    overflow: scroll;
}

.segundaParteForm .left .section1 div {
    width: 75%;
}

.segundaParteForm .left .section1 div div {
    width: 100%;
}

.segundaParteForm .left .section2 {
    background: #fd4;
    width: 100%;
    margin: 0.4em 0em;
    height: calc(100% / 2);
    overflow: scroll;
}

.segundaParteForm .right .section1 {
    width: 100%;
    margin: 0.4em 0em;
    height: calc(100% / 2);
    overflow: scroll;
}

.segundaParteForm .right .section1 div {
    width: 75%;
}

.segundaParteForm .right .section1 div div {
    width: 100%;
}

.segundaParteForm .right .section2 {
    width: 100%;
    margin: 0.4em 0em;
    height: calc(100% / 2);
    overflow: scroll;
}

.segundaParteForm .right .section2 div {
    width: 75%;
}

.segundaParteForm .right .section2 div div {
    width: 100%;
}
