.container {
    width: 100%;
    height: 100vh;
}

.header {
    background: var(--secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 12rem;
    /* position: fixed;
    z-index: 999;
    top: 0; */
    width: 100%;
    height: 5rem;
    box-shadow: 0 0 10px 0 #000000;
}

.header h1 {
    font-size: 1.5rem;
    color: #fff;
}

.header .regresar {
    background: var(--secundario);
    border: 0.1rem solid var(--terciario);
    border-radius: 0;
    color: var(--terciario);
}

.header .regresar:hover {
    border: 0.1rem solid var(--primario);
    color: var(--primario);
}

.content {
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .form {
    background: var(--terciario);
    width: 80%;
    height: 90%;
    box-shadow: 0 0 10px 0 var(--secundario);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.content .form .infoPalabra {
    grid-column: 1/2;
    background-image: linear-gradient(45deg, #1a1a1ac0, var(--secundario)),
        url("../../../assets/fondo1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--secundario);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content .form .infoPalabra .contInfo {
    width: 100%;
    height: 100%;
}

.content .form .infoPalabra .contInfo .formGroup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.content .form .infoPalabra .contInfo .formGroup label {
    color: var(--terciario);
    font-size: 1rem;
    text-transform: uppercase;
}

.content .form .infoPalabra .contInfo .formGroup input {
    background: transparent;
    margin: 1rem 0;
    width: 50%;
    height: 2rem;
    border-radius: 2rem;
    background: var(--terciario);
    color: var(--secundario);
    border: none;
    text-align: center;
    font-size: 1rem;
}

.content .form .infoPalabra .contInfo .dropDownMenu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content .form .infoPalabra .contInfo .dropDownMenu .dropDownHeader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropDownMenu .dropDownHeader h1 {
    color: var(--terciario);
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.dropDownMenu .dropDownHeader button {
    background: var(--terciario);
    color: var(--secundario);
    font-size: 1rem;
    font-weight: normal;
    padding: 0;
    width: 50%;
    height: 2rem;
    text-transform: none;
    border: none;
    border-radius: 0;
}

.dropDownMenu .dropDownHeader button span {
    margin-left: .5rem;
    color: var(--secundario);
}

.dropDownMenu .dropDownOptions {
    position: absolute;
    top: 75%;
    overflow: scroll;
    width: 50%;
    background: var(--terciario);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropDownMenu .dropDownOptions div {
    background: var(--secundario);
    width: 100%;
    height: 3rem;
    border-bottom: .1rem solid var(--cuarto);
    display: flex;
    align-items: center;
    padding: .5rem;
}

.dropDownMenu .dropDownOptions div:hover {
    background: var(--cuarto);
    cursor: pointer;
}

.dropDownMenu .dropDownOptions div p {
    color: var(--terciario);
    text-transform: uppercase;
}

.content .form .contEjemplos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content .form .contEjemplos .contData {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .form .contEjemplos .contData label {
    font-weight: bold;
}

.content .form .contEjemplos .contData input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: .1rem solid var(--secundario);
    background: transparent;
    color: var(--secundario);
}

.content .form .contTraducciones {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .form .contTraducciones .contTraducir {
    width: 100%;
    height: 100%;
}

.content .form .contTraducciones .contTraducir .encabezado {
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 8%
}

.content .form .contTraducciones .contTraducir h1 {
    color: var(--secundario);
    font-size: 1rem;
    text-transform: uppercase;
    margin-right: 1rem;
}

.content .form .contTraducciones .contTraducir button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0;
    background: transparent;
    color: var(--secundario);
    font-size: .8rem;
    border: .15rem solid var(--secundario);
}

.content .form .contTraducciones .contTraducir button:hover {
    background: var(--secundario);
    color: var(--terciario);
}

.content .form .contTraducciones .contTraducir .divTraducciones {
    width: 100%;
    height: calc(100% - 2.5rem);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 8%;
}

.content .form .contTraducciones .contTraducir .divTraducciones .divTraduccion {
    width: 9rem;
    height: 3rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.content .form .contTraducciones .contTraducir .divTraducciones .divTraduccion input {
    background: var(--secundario);
    color: var(--terciario);
    width: 90%;
    height: 2rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    margin: 0;
}

.content .form .contTraducciones .contTraducir .divTraducciones .divTraduccion button {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border: none;
    padding: 0;
    font-size: .7rem;
    top: 0;
    right: 1rem;
    background: var(--primario);
}

.content .form .contTraducciones .contTraducir .divTraducciones .divTraduccion button:hover {
    background: var(--terciario);
    color: var(--primario);
    border: none;
}

.content .form .contBtn {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
}

.content .form .contBtn button {
    background: transparent;
    border: 1px solid var(--secundario);
    color: var(--secundario);
    font-size: .8rem;
    padding: 0 1rem;
    height: 2rem;
}

.content .form .contBtn button p {
    color: var(--secundario);
}

.content .form .contBtn button:hover {
    background: var(--secundario);
    color: var(--terciario);
}

/* Segunda parte del formulario */
.segundaParteForm {
    height: 100%;
    width: 100%;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* .segundaParteForm .left {
    width: 50%;
    height: 100%;
}

.segundaParteForm .right {
    width: 50%;
    height: 100%;
} */

.segundaParteForm .section1 {
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: flex;
    justify-content: center;
}

.segundaParteForm .section1 .dropDownMenu {
    width: 100%;
    padding: 5%;
    position: relative;
}

.segundaParteForm .section1 .dropDownMenu .dropDownHeader {
    width: 100%;
    text-align: center;
}

.segundaParteForm .section1 .dropDownMenu .dropDownHeader h1 {
    color: var(--secundario);
    font-size: .8rem;
}

.segundaParteForm .section1 .dropDownMenu .dropDownHeader button {
    width: 100%;
    height: 2.5rem;
    background: var(--secundario);
    color: var(--terciario);
}

.segundaParteForm .section1 .dropDownMenu .dropDownHeader button span {
    color: var(--terciario);
}

.segundaParteForm .section1 .dropDownMenu .dropDownOptions {
    position: absolute;
    top: 25%;
    overflow: scroll;
    width: 90%;
    background: var(--terciario);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.segundaParteForm .section1 .dropDownMenu .dropDownOptions div {
    background: var(--secundario);
    width: 100%;
    height: 3rem;
    border-bottom: .1rem solid var(--cuarto);
    display: flex;
    align-items: center;
    padding: .5rem;
}

.segundaParteForm .section1 .dropDownMenu .dropDownOptions div:hover {
    background: var(--cuarto);
    cursor: pointer;
}

.dropDownMenu .dropDownOptions div p {
    color: var(--terciario);
    text-transform: uppercase;
}

/* no se que pedo */
.segundaParteForm .section1 div {
    width: 75%;
}

.segundaParteForm .left .section1 div div {
    width: 100%;
}

.segundaParteForm .left .section2 {
    background: #fd4;
    width: 100%;
    margin: 0.4em 0em;
    height: calc(100% / 2);
    overflow: scroll;
}

.segundaParteForm .right .section1 {
    width: 100%;
    margin: 0.4em 0em;
    height: calc(100% / 2);
    overflow: scroll;
}

.segundaParteForm .right .section1 div {
    width: 75%;
}

.segundaParteForm .right .section1 div div {
    width: 100%;
}

.segundaParteForm .right .section2 {
    width: 100%;
    margin: 0.4em 0em;
    height: calc(100% / 2);
    overflow: scroll;
}

.segundaParteForm .right .section2 div {
    width: 75%;
}

.segundaParteForm .right .section2 div div {
    width: 100%;
}
