.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    --main-color: #612afa;
}

.header {
    background: var(--secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 12rem;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 5rem;
    box-shadow: 0 0 10px 0 #000000;
}

.header h1 {
    font-size: 1.5rem;
    color: #fff;
}

.header .regresar {
    background: var(--secundario);
    border: 0.1rem solid var(--terciario);
    border-radius: 0;
    color: var(--terciario);
}

.header .regresar:hover {
    border: 0.1rem solid var(--primario);
    color: var(--primario);
}

/* .regresar {
    font-family: "Montserrat", sans-serif;
    border: 0.15em solid var(--main-color);
    color: var(--main-color);
    background: transparent;
    position: absolute;
    left: 0.7em;
    top: 0.7em;
    padding: 0.5em 0.8em;
    border-radius: 3em;
    font-weight: 500;
    transition: all 500ms;
}

.regresar:hover {
    border: 0.15em solid var(--main-color);
    background: var(--main-color);
    color: #fff;
} */

.content {
    --height-size: 80%;
    --border-size: 0.5em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.miData {
    background: transparent;
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 23%;
    margin-right: 2em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    height: var(--height-size);
    border-radius: var(--border-size);
    font-family: "Montserrat", sans-serif;
}

.miData .perfil {
    background: #000;
    width: 100%;
    height: 100%;
    grid-row: 1/2;
    background-image: linear-gradient(45deg, var(--secundario),#1a1a1aaf),
        url("../../../assets/img2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--secundario);
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
}

.miData .perfil .perfilInfo {
    width: 100%;
    height: 95%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: .15rem solid var(--primario);
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.miData .perfil .perfilInfo h3 {
    color: var(--primario);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.miData .perfil .perfilInfo p {
    margin-top: .2rem;
    color: var(--terciario);
    font-size: .8rem;
}

.miData .contData {
    grid-row: 2/4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.miData .contData .roles {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.miData .contData .roles p {
    background: var(--secundario);
    padding: .2rem .7rem;
    margin: .5rem;
    border-radius: 1rem;
    color: var(--terciario);
    font-size: .8rem;
    text-transform: capitalize;
}

.miData .contData .contEstadis {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.miData .contData .contEstadis .estadistica {
    background: var(--terciario);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: .5rem;
    width: 90%;
    height: 3.5rem;
    border-radius: 1rem;
}

.miData .contData .contEstadis .estadistica .estadisticaIMG {
    width: 19%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secundario);
    border: .1rem solid var(--cuarto);
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}

.miData .contData .contEstadis .estadistica .estadisticaData {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
}

.miData .contData .contEstadis .estadistica .estadisticaData h1 {
    color: var(--cuarto);
    font-size: .8rem;
    text-transform: capitalize;
}

.miData .contData .contEstadis .estadistica .estadisticaData h2 {
    color: var(--secundario);
    font-size: 1rem;
}


/* 
.miData h4 {
    margin-top: 0.6em;
    color: var(--main-color);
    font-family: inherit;
    font-size: 14pt;
    font-weight: 600;
    text-transform: capitalize;
}

.miData p {
    color: #686868;
    font-family: inherit;
    font-size: 11pt;
    font-weight: 400;
}

.miData ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 1em;
}

.miData ul p {
    background: #612afa;
    padding: 0.5em 0.8em;
    margin: 0 0.5em;
    margin-top: 0.5em;
    border-radius: 0.2em;
    color: white;
    font-size: 9pt;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.05em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}

.estadisticas {
    margin: 0 1.5em;
    margin-top: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.estadisticas p {
    margin-bottom: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background: white;
    padding: 0.6em 0;
    margin-top: 0.5em;
    border-radius: 0.3em;
    color: #612afa;
    font-size: 9pt;
    width: 110px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.05em;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.12);
}

.estadisticas p span {
    margin-top: 0.2em;
    color: inherit;
    font-size: 11pt;
    font-weight: 100;
} */

.views {
    backdrop-filter: blur(10px);
    width: 55%;
    height: var(--height-size);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    border-radius: var(--border-size);
}

.menu {
    --main-color: #222;
    height: 8%;
}

/* .menu ul {
    margin-left: 1em;
    margin-top: 1em;
} */

.menu ul button {
    background: transparent;
    border: none;
    list-style: none;
    display: inline;
    font-size: 11pt;
    line-height: 1.5;
    margin-right: 0.2em;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    cursor: pointer;
    color: var(--secundario);
    transition: all 300ms;
    padding: 0.5em 0.8em;
}

.menu ul button:hover {
    color: var(--primario);
    border-radius: 0.3em 0.3em 0 0;
    box-shadow: 0 -0.3px 5px 1px rgba(0, 0, 0, 0.13);
}

.menu ul button:focus {
    color: var(--terciario);
    background: var(--secundario);
    border-radius: 0.3em 0.3em 0 0;
    box-shadow: 0 -0.3px 5px 1px rgba(0, 0, 0, 0.13);
}

.lists {
    height: calc(100% - 8%);
}

.listItems {
    font-family: "Montserrat", sans-serif;
    height: 100%;
}

.listDiv {
    height: 10%;
    display: flex;
    align-items: center;
    background: #000;
}

.listDiv h1 {
    margin-left: 1.75em;
    font-family: inherit;
    font-size: 12pt;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 300;
    color: var(--secundario);
}

.wordItemsContainer {
    height: calc(100% - 15%);
    overflow: scroll;
}

.wordItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tableWords {
    width: 100%;
    background: transparent;
    border-collapse: collapse;
}

/* .tableWords tr {
    width: 100%;
    height: 2.5rem;
} */

.tableWords tr td {
    height: 100%;
}

.tableWords tr:hover td{
    background-color: var(--secundario);
    color: var(--terciario);
}

.tableWords thead tr th,
.tableWords tbody tr td {
    padding: 0.8em;
    line-height: 1.5;
    font-weight: 400;
    /* color: var(--secundario); */
}

.tableWords thead tr th {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    text-align: left;
    border-bottom: 2px solid rgba(221, 221, 221, 0.3);
    /* width: 100px; */
    /* height: rem; */
    color: var(--primario);
}

.tableWords tbody tr td {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
}

.traducciones {
    display: flex;
    flex-wrap: wrap;
}

.traducciones .traduccion {
    background: var(--secundario);
    padding: 0 .5rem;
    height: 1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.traducciones p {
    color: var(--terciario);
    font-size: .8rem;
}

.tableButton {
    font-family: "Montserrat", sans-serif !important;
    color: var(--secundario);
    background: var(--terciario);
    font-size: .7rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 8rem;
    height: 2rem;
    border-radius: .5rem;
    border: .1rem solid var(--secundario);
}

.tableButton span {
    margin-right: 0.3em;
    color: var(--secundario);
    font-size: 12pt;
}

.tableButton:hover {
    border: 2px solid var(--primario);
    background: var(--primario);
    color: var(--terciario);
}

/* .wordItem {
    background: hsla(0, 0%, 100%, 0.5);
    margin: 1em;
    border-radius: 0.2em;
    overflow: hidden;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.07);
    width: 210px;
    height: 320px;
    --decorate-size: 40%;
}

.wordDecorate {
    height: var(--decorate-size);
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.wordData {
    font-family: "Montserrat", sans-serif;
    height: calc(100% - var(--decorate-size));
    padding: 1em;
}

.wordData p {
    color: #222;
    font-weight: 500;
}

.wordData p:first-child {
    font-size: 15pt;
    font-family: inherit;
    text-transform: capitalize;
}

.wordData p:first-child span {
    margin-top: 0em;
    color: #612afa;
    display: block;
    font-size: 13pt;
    font-weight: 500;
    font-family: inherit;
    text-transform: capitalize;
    letter-spacing: 0.03em;
}

.wordData hr {
    border: 1px solid hsla(0, 0%, 100%, 0);
    margin: 0.1em 0;
}

.wordData p {
    font-size: 14pt;
    font-family: inherit;
    text-transform: capitalize;
}

.wordData p span {
    display: block;
    font-size: 11pt;
    font-weight: 500;
    color: inherit;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #612afa;
}

.traducciones h2 {
    font-size: 14pt;
    color: #222;
    display: block;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
}

.traducciones div {
    display: flex;
    flex-wrap: wrap;
}

.traducciones div p {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400 !important;
    font-size: 9pt !important;
    background-color: #612afa;
    color: white;
    padding: 0.4em 0.5em;
    border-radius: 0.3em;
    text-transform: lowercase !important;
    margin: 0.2em 0.1em;
} */

/* ventana de confirmacion */
.confirmacion {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.2);
    backdrop-filter: blur(5px);
    position: absolute;
}

.confirmacionContent {
    --primary-color: #612afa;
    --secondary-color: #fff;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    backdrop-filter: blur(5px);
    height: 35%;
    width: 35%;
    border-radius: 0.4em;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
    padding: 1em;
}

.mensaje {
    font-family: inherit;
    height: 70%;
    color: var(--primary-color);
}

.mensaje h1 {
    font-family: inherit;
    font-size: 26pt;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: inherit;
}

.mensaje p {
    font-family: inherit;
    font-size: 14pt;
    font-weight: 400;
    color: inherit;
}

.botonera {
    font-family: inherit;
    text-align: right;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.botonera button {
    font-family: inherit;
    font-weight: 300;
    padding: 0.4em 0.8em;
    line-height: 1.5;
    border-radius: 0.3em;
    margin: 0 0.3em;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    letter-spacing: 0.1em;
    border: none;
}

.botonera button:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 0.5em 0.9em;
    border: none;
}

.botonera button:active {
    padding: 0.4em 0.8em;
}
