@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,300;0,400;1,700&display=swap");

.content {
    background-color: white;
    margin: 4em auto;
    width: 70%;
    height: 270px;
    border-radius: 4px;
    padding: 3em;
    box-shadow: 0 0 10px 0 #888888;
}

.content h1 {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    color: var(--primario);
}

.containerMisDatos {
    margin-top: 1em;
    padding: 0 1em;
}

.containerMisDatos p {
    color: var(--secundario);
    font-size: 14pt;
}

.containerMisDatos p:first-child {
    font-size: 22pt;
    font-weight: bold;
    text-transform: capitalize;
}

/* Boton Flotante */
.botonera {
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
