::-webkit-scrollbar {
    display: none;
}

.container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttonCerrarSesion {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: transparent;
    color: #333;
    border: 3px solid #333;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50px;
}

.buttonCerrarSesion:hover {
    color: #ffffff;
    background-color: #ff019e;
    border: 3px solid #ff019e;
}

.misDatos {
    background-color: white;
}

.misDatos {
    padding: 1em;
}

.misDatos h1 {
    color: #333;
    font-size: 22pt;
}

.misDatos p {
    color: #797979;
    text-transform: capitalize;
}

.misDatos button {
    margin-top: 10px;
    padding: 7px 9px;
}
