::-webkit-scrollbar {
    display: none;
}

.container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttonCerrarSesion {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50px;
    color: #ffffff;
    background-color: #ff019e;
    border: 3px solid #ff019e;
}

.buttonCerrarSesion:hover {
    color: #333;
    background-color: transparent;
    border: 3px solid #333;
}

/* Menu de listas */
.lista {
    height: 70%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.lista button {
    background-color: #1f1e2e;
    color: #fff;
    border-radius: 4px;
    padding: 0 20px;
    margin: 10px;
    width: 210px;
    height: 260px;
    font-size: 16pt;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.lista button:hover {
    border: 5px solid #ff019e;
}
