.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--primario);
    color: white;
    z-index: 1;
    font-size: 11pt;
    padding: 0.75em 0.5em;
}
