:root {
  --primario: #ff019e;
  --secundario: #1F1E2E;
  --terciario: #fff;
  --cuarto: #898989;
}

body {
  font-family: "Lato", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header {
  background-image: linear-gradient(45deg, #1a1a1ac0, var(--secundario)),
    url("../img/fondo1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--terciario);
} */

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-image: linear-gradient(45deg, #1a1a1ac0, var(--secundario)),
    url("../assets/fondo1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--terciario);
}

.right {
  width: 40%;
  height: 100vh;
  background: var(--secundario);
  animation: desplazar 1s forwards;
}

@keyframes desplazar {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(0%);
  }
}

/* FORMULARIO PARA INGRESAR */

.contArriba {
  height: 12.5rem;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

.titulo {
  color: var(--terciario);
  font-size: 1.875rem;
}

span {
  color: var(--primario);
}

p {
  color: var(--cuarto);
}

.contMedio {
  height: 21.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.campo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

ion-icon {
  color: var(--primario);
  font-size: 1.25rem;
  margin-right: 1.875rem;
}

input {
  font-family: "Lato", sans-serif;
  width: 15.625rem;
  padding: 0.5rem;
  border: 0.0625rem solid var(--primario);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: var(--secundario);
  font-size: 0.9375rem;
  color: var(--terciario);
}

input:focus {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--terciario);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--terciario);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--terciario);
}

.contMedio a {
  font-size: 0.75rem;
  margin-bottom: 1.875rem;
  text-align: left;
}

button {
  background: var(--primario);
  padding: 0.625rem 1.875rem;
  color: var(--secundario);
  font-size: 0.9375rem;
  font-weight: bold;
  border: 0.125rem solid transparent;
  border-radius: 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

button:hover {
  background: transparent;
  border-color: var(--primario);
  color: var(--primario);
}

button:focus {
  outline: none;
}

.contAbajo {
  height: 3.125rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--terciario);
  font-size: 0.9375rem;
}

/* CSS CONTENEDOR IZQUIERDO */

.left {
  display: flex;
  align-items: center;
  padding: 10%;
  width: 60%;
  height: 100vh;
  animation: mostrar 3s forwards;
}

.left .textos h1 {
  font-size: 3.125rem;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  color: var(--primario);
  font-weight: bold;
}

.left .textos h2 {
  font-size: 7.5rem;
  text-transform: uppercase;
  color: transparent;
  font-family: "Lato", sans-serif;
  -webkit-text-stroke: 1px var(--terciario);
  margin-top: -1.875rem;
}

.contParrafo p {
  color: var(--terciario);
}

@keyframes mostrar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
