* {
    box-sizing: border-box;
    scrollbar-width: 0;
}

.header {
    background: var(--secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 12rem;
    margin-bottom: 5rem;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 5rem;
}

.header h1 {
    font-size: 1.5rem;
    color: #fff;
}

.header .regresar {
    background: transparent;
    width: 12rem;
    height: 3rem;
    border: 0.1rem solid var(--terciario);
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--terciario);
}

.header .regresar:hover{
    border: 0.1rem solid var(--terciario);
    color: var(--secundario);
    background: var(--terciario);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.contCard {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10rem;
}

.card {
    width: 13rem;
    height: 18rem;
    border-radius: 1rem;
}

.card .contImg {
    width: 100%;
    height: 100%;
    position: relative;
}

.card .contImg img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.card .contImg .contInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffffa0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

.card .contImg .contInfo .info {
    width: 100%;
    padding: 1.5rem;
    position: absolute;
    bottom: 0;
}

.card .contImg .contInfo .info h1 {
    color: var(--primario);
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
}

.card .contImg .contInfo .info h2 {
    color: var(--secundario);
    font-size: 0.8rem;
    text-transform: uppercase;
}

.card .contImg .contInfo .info button {
    width: 6.5rem;
    height: 2rem;
    margin-top: 2rem;
    background: transparent;
    border: 0.1rem solid var(--secundario);
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6rem;
    color: var(--secundario);
}

.card .contImg .contInfo .info button:hover {
    background: var(--secundario);
    color: var(--terciario);
}
