* {
    box-sizing: border-box;
    /* scrollbar-width: 0; */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--secundario);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--secundario);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primario);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
/* ::-webkit-scrollbar-track {
    background: var(--terciario);
    border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
    background: var(--secundario);
} */

body {
    background-image: linear-gradient(45deg, #ffffffc0, var(--terciario)),
        url("../assets/fondo1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--terciario);
}

.header {
    background: var(--secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    margin-bottom: 5rem;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 5rem;
    box-shadow: 0 0 10px 0 #000000;
}

.header h1 {
    font-size: 1.5rem;
    color: #fff;
}

.header .regresar {
    background: var(--secundario);
    border: 0.1rem solid var(--terciario);
    border-radius: 0;
    color: var(--terciario);
}

.header .regresar:hover {
    border: 0.1rem solid var(--primario);
    color: var(--primario);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem 0;
}

.buscadorContainer {
    width: 100%;
    height: calc(100% - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscadorContainer .contForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 15vh 0;
}

.buscadorContainer .contForm form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buscadorContainer .contForm form .contInput {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buscadorContainer .contForm form .contInput input {
    margin: 0;
    width: 80%;
    height: 100%;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    background: transparent;
    color: var(--secundario);
    border: 0.2rem solid var(--secundario);
    border-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    padding-left: 1rem;
}

.buscadorContainer .contForm form .contInput button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: transparent;
    color: var(--secundario);
    border: 0.2rem solid var(--secundario);
    border-left: 0;
}

.buscadorContainer .contForm form .contInput button:hover {
    background: var(--secundario);
    color: var(--terciario);
}

.contCard {
    margin-top: 5rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem 10rem;
}

.card {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 0 #000000;
    border-radius: 1rem;
}

.card .contImg {
    width: 100%;
    height: 100%;
    position: relative;
}

.card .contImg img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.card .contImg .contInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1f1e2eb4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

.card .contImg .contInfo:hover {
    background: #1f1e2e49;
}

.card .contImg .contInfo .info {
    width: 100%;
    padding: 1.5rem;
    position: absolute;
    bottom: 0;
}

.card .contImg .contInfo .info h1 {
    color: var(--primario);
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
}

.card .contImg .contInfo .info h2 {
    color: var(--terciario);
    font-size: 0.8rem;
    text-transform: uppercase;
}

.card .contImg .contInfo .info button {
    width: 6.5rem;
    height: 2rem;
    margin-top: 2rem;
    background: transparent;
    border: 0.1rem solid var(--terciario);
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6rem;
    color: var(--terciario);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .contImg .contInfo .info button:hover {
    background: var(--terciario);
    color: var(--secundario);
}

@media screen and (max-width: 1000px) {
    .header {
        padding: 0 5%;
    }

    .header h1 {
        font-size: 1rem;
        color: #fff;
    }

    .header .regresar {
        font-size: 0.8rem;
    }

    .contCard {
        width: 90%;
        grid-gap: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 7rem;
        height: 12rem;
    }

    .card .contImg .contInfo .info {
        padding: 0.8rem;
    }

    .card .contImg .contInfo .info h1 {
        font-size: 1.2rem;
    }

    .card .contImg .contInfo .info h2 {
        font-size: 0.6rem;
    }

    .card .contImg .contInfo .info button {
        font-size: 0.5rem;
        width: 80%;
        height: 1.5rem;
        padding: 0;
    }
}
