* {
    font-family: "Courier New", Courier, monospace;
    font-size: 14pt;
    letter-spacing: 1px;
    text-decoration: none;
    outline: none;
    list-style: none;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

h2 {
    font-size: 32pt;
    text-transform: uppercase;
    color: bisque;
    margin-left: 1em;
    margin-top: 0.4em;
}

.list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
}

.link {
    color: bisque;
    font-size: 18pt;
    margin: 0px 10px;
}
