@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,300;0,400;1,700&display=swap");

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 80vh;
    box-shadow: 0 0 10px 0 #000000;
    background-image: linear-gradient(45deg, #1a1a1ac0, var(--secundario)),
        url("../../../assets/fondo1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--terciario);
}

.content .container {
    width: 100%;
    height: 100%;
    background: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "contProfile sesion sesion"
        "contProfile contButtons contButtons";
}

.content .sesion {
    grid-area: sesion;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content .sesion .sesionData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--terciario);
}

.content .sesion .sesionData h1{
    color: var(--terciario);
    font-size: 1.3rem;
    text-transform: capitalize;
}

.content .sesion .sesionData h2{
    color: var(--terciario);
    font-size: 0.9rem;
    margin-top: 0.2rem;
}

.content .sesion .sesionCerrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .sesion .sesionCerrar button {
    background: transparent;
    font-size: .8rem;
    border: .1rem solid var(--terciario);
}

.content .sesion .sesionCerrar button:hover {
    color: var(--primario);
    border: .1rem solid var(--primario);
}

.content .container .contProfile {
    width: 100%;
    height: 100%;
    grid-area: contProfile;
    position: relative;
}

.content .container .contProfile .profile {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    position: absolute;
}

.content .container .contProfile .profile .profileUser {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .container .contProfile .profile .profileUser h1 {
    color: var(--terciario);
    font-size: 1.3rem;
    text-transform: capitalize;
}

.content .container .contProfile .profile .profileUser h2 {
    color: var(--terciario);
    font-size: 0.9rem;
    margin-top: 0.2rem;
}

.content .container .contProfile .profile .profileData {
    background: var(--terciario);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .container .contProfile .profile .profileData .contData {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .3rem 1.5rem;
    text-align: center;
}

.content .container .contProfile .profile .profileData .contData h1 {
    color: var(--secundario);
    font-size: .8rem;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.content .container .contProfile .profile .profileData .contData h2 {
    color: var(--secundario);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.content .container .contProfile .contImg {
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 3.5rem);
    left: calc(50% - 3.5rem);
}

.content .container .contProfile .contImg img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.content .container .contButtons {
    grid-area: contButtons;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--terciario);
}

.content .container .contButtons .buttons {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content .container .contButtons .buttons button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    color: var(--secundario);
    background: var(--terciario);
    border: .1rem solid transparent;
    border-radius: 0;

}

.content .container .contButtons .buttons button:hover {
    background: var(--terciario);
    color: var(--secundario);
    border: .1rem solid var(--secundario);
}

.contentUser {
    background: rgba(33, 41, 52, 0.85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .container .contCheck {
    grid-area: contButtons;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--terciario);
}

.content .container .contCheck .checks {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* .content .container .contCheck .checks button {
    width: 10rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    color: var(--secundario);
    background: var(--terciario);
    border: .1rem solid transparent;
    border-radius: 0;
} */